In [1]:
import pyforest
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [2]:
import os
files_and_directories = os.listdir("data/")
all_files = []
for file in files_and_directories:
    if 'csv' in file:
        temp = pd.read_csv('data/'+str(file))
        all_files.append(temp)
        
df = pd.concat(all_files, sort=False)

df['Date'] = pd.to_datetime(df['Date'])
df.dropna(axis=1, how='all', inplace=True)
print(df.shape)
# transform OHE the FTR (full time 1/N/2) and the Half Time (1/N/2)
df.reset_index(inplace=True, drop=True)
#temp_ohe = pd.get_dummies(df[['FTR','HTR']])
#df = df.merge(temp_ohe, left_index=True, right_index=True)
df.drop(['Div'], axis=1, inplace=True)

# encode the refereee
oe = OrdinalEncoder()
si = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='Missing')

#referee = si.fit_transform(df[['Referee']])
referee = oe.fit_transform(si.fit_transform(df[['Referee']]))
df['Referee']=referee

df.shape

(7610, 80)

(7610, 79)

In [3]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,SJA,BSH,BSD,BSA,SBH,SBD,SBA,0,1,2
0,2018-10-08,Man United,Leicester,2.0,1.0,H,1.0,0.0,H,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-11-08,Bournemouth,Cardiff,2.0,0.0,H,1.0,0.0,H,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-11-08,Fulham,Crystal Palace,0.0,2.0,A,0.0,1.0,A,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-08,Huddersfield,Chelsea,0.0,3.0,A,0.0,2.0,A,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-11-08,Newcastle,Tottenham,1.0,2.0,A,1.0,2.0,A,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data definition
http://www.football-data.co.uk/notes.txt

### Key to results data:

- Div = League Division
- Date = Match Date (dd/mm/yy)
- Time = Time of match kick off
- HomeTeam = Home Team
- AwayTeam = Away Team
- FTHG and HG = Full Time Home Team Goals
- FTAG and AG = Full Time Away Team Goals
- FTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)
- HTHG = Half Time Home Team Goals
- HTAG = Half Time Away Team Goals
- HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

### Match Statistics (where available)
- Attendance = Crowd Attendance
- Referee = Match Referee
- HS = Home Team Shots
- AS = Away Team Shots
- HST = Home Team Shots on Target
- AST = Away Team Shots on Target
- HHW = Home Team Hit Woodwork
- AHW = Away Team Hit Woodwork
- HC = Home Team Corners
- AC = Away Team Corners
- HF = Home Team Fouls Committed
- AF = Away Team Fouls Committed
- HFKC = Home Team Free Kicks Conceded
- AFKC = Away Team Free Kicks Conceded
- HO = Home Team Offsides
- AO = Away Team Offsides
- HY = Home Team Yellow Cards
- AY = Away Team Yellow Cards
- HR = Home Team Red Cards
- AR = Away Team Red Cards
- HBP = Home Team Bookings Points (10 = yellow, 25 = red)
- ABP = Away Team Bookings Points (10 = yellow, 25 = red)

### Key to 1X2 (match) betting odds data:

- B365H = Bet365 home win odds
- B365D = Bet365 draw odds
- B365A = Bet365 away win odds
- BSH = Blue Square home win odds
- BSD = Blue Square draw odds
- BSA = Blue Square away win odds
- BWH = Bet&Win home win odds
- BWD = Bet&Win draw odds
- BWA = Bet&Win away win odds
- GBH = Gamebookers home win odds
- GBD = Gamebookers draw odds
- GBA = Gamebookers away win odds
- IWH = Interwetten home win odds
- IWD = Interwetten draw odds
- IWA = Interwetten away win odds
- LBH = Ladbrokes home win odds
- LBD = Ladbrokes draw odds
- LBA = Ladbrokes away win odds
- PSH and PH = Pinnacle home win odds
- PSD and PD = Pinnacle draw odds
- PSA and PA = Pinnacle away win odds
- SOH = Sporting Odds home win odds
- SOD = Sporting Odds draw odds
- SOA = Sporting Odds away win odds
- SBH = Sportingbet home win odds
- SBD = Sportingbet draw odds
- SBA = Sportingbet away win odds
- SJH = Stan James home win odds
- SJD = Stan James draw odds
- SJA = Stan James away win odds
- SYH = Stanleybet home win odds
- SYD = Stanleybet draw odds
- SYA = Stanleybet away win odds
- VCH = VC Bet home win odds
- VCD = VC Bet draw odds
- VCA = VC Bet away win odds
- WHH = William Hill home win odds
- WHD = William Hill draw odds
- WHA = William Hill away win odds

## Explore the betting columns

The target is to build set of pronostics [x.yy, x.yy, x.yy] which means Home, D, Away for each betting platform.

Missing value will be filled with the line (other betting platform).

Betting score are always in 3 features which ended by:
- "H" for home
- "D" for deuce
- "A" for Away

### Extract columns from the dataset

Extract columns from dataset and build a dictionary of feature name by betting platform

In [4]:
all_betting_cols = [x for x in df.columns.tolist() if str(x).endswith("H") 
                    or str(x).endswith("D") or str(x).endswith("A")]
all_betting_cols

# from that list extract the betting platform
betting_platform={}
for v in all_betting_cols:
    bp = v[:-1]
    if bp != 'FTR_' and bp != 'HTR_':
        betting_platform[bp] = [f"{bp}H",f"{bp}D",f"{bp}A"]

betting_platform

{'B365': ['B365H', 'B365D', 'B365A'],
 'BW': ['BWH', 'BWD', 'BWA'],
 'IW': ['IWH', 'IWD', 'IWA'],
 'PS': ['PSH', 'PSD', 'PSA'],
 'WH': ['WHH', 'WHD', 'WHA'],
 'VC': ['VCH', 'VCD', 'VCA'],
 'BbMx': ['BbMxH', 'BbMxD', 'BbMxA'],
 'BbAv': ['BbAvH', 'BbAvD', 'BbAvA'],
 'BbA': ['BbAH', 'BbAD', 'BbAA'],
 'BbMxAH': ['BbMxAHH', 'BbMxAHD', 'BbMxAHA'],
 'BbAvAH': ['BbAvAHH', 'BbAvAHD', 'BbAvAHA'],
 'PSC': ['PSCH', 'PSCD', 'PSCA'],
 'GB': ['GBH', 'GBD', 'GBA'],
 'LB': ['LBH', 'LBD', 'LBA'],
 'SJ': ['SJH', 'SJD', 'SJA'],
 'BS': ['BSH', 'BSD', 'BSA'],
 'SB': ['SBH', 'SBD', 'SBA']}

### create the new dataset
read each row of the original dataset and for the betting platform create a new row, the dictionary will be
- day features such as teams and score
- date
- betting platform odds

In [5]:
%%time
new_set = []
for idx, r in df.iterrows():
    static_variable = [r.HomeTeam, r.AwayTeam, r.Date, r.FTHG, r.FTAG]
    for key in betting_platform:
        temp = betting_platform[key]
        temp_odds =r[temp]
        new_set.append([static_variable[0],
                        static_variable[1],
                        static_variable[2],
                        static_variable[3],
                        static_variable[4],
                        
                        temp_odds[0], temp_odds[1], temp_odds[2],
                        r.FTR]
                        )

/Users/dfelix/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

CPU times: user 1min 41s, sys: 2.47 s, total: 1min 43s
Wall time: 1min 43s

In [6]:
bet=pd.DataFrame(new_set)
bet.shape

(129370, 9)

In [7]:
bet.to_csv('full_table.csv', index=False)

In [8]:
bet.isnull().sum()

0      170
1      170
2      170
3      170
4      170
5    23718
6    46458
7    31298
8      170
dtype: int64

In [9]:
bet.dtypes

0            object
1            object
2    datetime64[ns]
3           float64
4           float64
5           float64
6           float64
7           float64
8            object
dtype: object

In [10]:
keep=bet.iloc[:,[5,6,7]].dropna(axis=0, how='any').index.tolist()
bet = bet.iloc[keep,:].copy()
bet.shape

(82912, 9)

In [11]:
bet.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [12]:
bet.columns = ['Hteam','Ateam','Date','FTHG','FTAG','Odd-1','Odd-N','Odd-2','Target']
bet.head(10)

          Hteam      Ateam       Date  FTHG  FTAG  Odd-1  Odd-N  Odd-2 Target
0    Man United  Leicester 2018-10-08   2.0   1.0   1.57   3.90   7.50      H
1    Man United  Leicester 2018-10-08   2.0   1.0   1.53   4.00   7.50      H
2    Man United  Leicester 2018-10-08   2.0   1.0   1.55   3.80   7.00      H
3    Man United  Leicester 2018-10-08   2.0   1.0   1.58   3.93   7.50      H
4    Man United  Leicester 2018-10-08   2.0   1.0   1.57   3.80   6.00      H
5    Man United  Leicester 2018-10-08   2.0   1.0   1.57   4.00   7.00      H
6    Man United  Leicester 2018-10-08   2.0   1.0   1.60   4.20   8.05      H
7    Man United  Leicester 2018-10-08   2.0   1.0   1.56   3.92   7.06      H
11   Man United  Leicester 2018-10-08   2.0   1.0   1.55   4.07   7.69      H
17  Bournemouth    Cardiff 2018-11-08   2.0   0.0   1.90   3.60   4.50      H

In [13]:
di = {'H':1, 'D':2, 'A':3}

# The values 10 and 20 are replaced by 'A' and 'B'
bet['Target'].replace(di, inplace=True)
bet.head()

        Hteam      Ateam       Date  FTHG  FTAG  Odd-1  Odd-N  Odd-2  Target
0  Man United  Leicester 2018-10-08   2.0   1.0   1.57   3.90    7.5       1
1  Man United  Leicester 2018-10-08   2.0   1.0   1.53   4.00    7.5       1
2  Man United  Leicester 2018-10-08   2.0   1.0   1.55   3.80    7.0       1
3  Man United  Leicester 2018-10-08   2.0   1.0   1.58   3.93    7.5       1
4  Man United  Leicester 2018-10-08   2.0   1.0   1.57   3.80    6.0       1

In [14]:
bet=bet.groupby(['Date','Hteam','Ateam']).mean().reset_index()
bet

,Date,Hteam,Ateam,FTHG,FTAG,Odd-1,Odd-N,Odd-2,Target
0,2009-08-15,Aston Villa,Wigan,0.0,2.0,1.673333,3.490000,5.252500,3
1,2009-08-15,Blackburn,Man City,0.0,2.0,3.354167,3.228333,2.143333,3
2,2009-08-15,Bolton,Sunderland,0.0,1.0,2.238333,3.217500,3.154167,3
3,2009-08-15,Chelsea,Hull,2.0,1.0,1.180833,6.143333,16.960833,1
4,2009-08-15,Everton,Arsenal,1.0,6.0,3.095000,3.204167,2.279167,3
5,2009-08-15,Portsmouth,Fulham,0.0,1.0,2.554167,3.202500,2.708333,3
6,2009-08-15,Stoke,Burnley,2.0,0.0,1.916667,3.275833,4.015833,1
7,2009-08-15,Wolves,West Ham,0.0,2.0,2.556667,3.228333,2.672500,3
8,2009-08-16,Man United,Birmingham,1.0,0.0,1.195000,5.810833,15.749167,1
9,2009-08-16,Tottenham,Liverpool,2.0,1.0,3.124167,3.218333,2.235000,1
10,2009-08-18,Sunderland,Chelsea,1.0,3.0,6.835833,3.774167,1.521667,3
11,2009-08-18,Wigan,Wolves,0.0,1.0,1.719167,3.498333,5.046667,3
12,2009-08-19,Birmingham,Portsmouth,1.0,0.0,2.036667,3.287500,3.650000,1
13,2009-08-19,Burnley,Man United,1.0,0.0,10.024167,4.762500,1.319167,1
14,2009-08-19,Hull,Tottenham,1.0,5.0,3.757500,3.327500,1.984167,3
15,2009-08-19,Liverpool,Stoke,4.0,0.0,1.252500,5.254167,12.761667,1
16,2009-08-22,Arsenal,Portsmouth,4.0,1.0,1.180000,6.388333,16.373333,1
17,2009-08-22,Birmingham,Stoke,0.0,0.0,2.245000,3.227500,3.233333,2
18,2009-08-22,Hull,Bolton,1.0,0.0,2.460000,3.230833,2.858333,1
19,2009-08-22,Man City,Wolves,1.0,0.0,1.325833,4.700833,10.201667,1
20,2009-08-22,Sunderland,Blackburn,2.0,1.0,2.060833,3.276667,3.600833,1
21,2009-08-22,Wigan,Man United,0.0,5.0,6.535833,3.846667,1.530833,3
22,2009-08-23,Burnley,Everton,1.0,0.0,3.226667,3.251667,2.222500,1
23,2009-08-23,Fulham,Chelsea,0.0,2.0,6.476667,3.689167,1.555000,3
24,2009-08-23,West Ham,Tottenham,1.0,2.0,3.041667,3.271667,2.320833,3
25,2009-08-24,Liverpool,Aston Villa,1.0,3.0,1.426667,4.155833,7.893333,3
26,2009-08-29,Blackburn,West Ham,0.0,0.0,2.181667,3.231667,3.294167,2
27,2009-08-29,Bolton,Liverpool,2.0,3.0,6.074167,3.790833,1.551667,3
28,2009-08-29,Chelsea,Burnley,3.0,0.0,1.139167,7.215000,17.739167,1
29,2009-08-29,Man United,Arsenal,2.0,1.0,2.113333,3.240833,3.441667,1
...,...,...,...,...,...,...,...,...,...
3770,2019-09-03,Crystal Palace,Brighton,1.0,2.0,1.852222,3.485556,4.874444,3
3771,2019-09-03,Huddersfield,Bournemouth,0.0,2.0,3.425556,3.255556,2.320000,3
3772,2019-09-03,Leicester,Fulham,3.0,1.0,1.597778,4.313333,5.767778,1
3773,2019-09-03,Man City,Watford,3.0,1.0,1.143333,9.025556,19.707778,1
3774,2019-09-03,Newcastle,Everton,3.0,2.0,2.797778,3.153333,2.804444,1
3775,2019-09-03,Southampton,Tottenham,2.0,1.0,4.366667,3.771111,1.866667,1
3776,2019-10-02,Man City,Chelsea,6.0,0.0,1.522222,4.481111,6.628889,1
3777,2019-10-02,Tottenham,Leicester,3.0,1.0,1.704444,3.847778,5.443333,1
3778,2019-10-03,Arsenal,Man United,2.0,0.0,2.406667,3.556667,2.982222,1
3779,2019-10-03,Chelsea,Wolves,1.0,1.0,1.562222,4.106667,6.877778,2
3780,2019-10-03,Liverpool,Burnley,4.0,2.0,1.171111,7.905556,18.687778,1
3781,2019-11-02,Wolves,Newcastle,1.0,1.0,1.710000,3.692222,5.691111,2
3782,2019-12-01,Brighton,Liverpool,0.0,1.0,10.047778,5.550000,1.325556,3
3783,2019-12-01,Burnley,Fulham,2.0,1.0,2.392222,3.264444,3.258889,1
3784,2019-12-01,Cardiff,Huddersfield,0.0,0.0,2.237778,3.174444,3.685556,2
3785,2019-12-01,Chelsea,Newcastle,2.0,1.0,1.224444,6.630000,15.155556,1
3786,2019-12-01,Crystal Palace,Watford,1.0,2.0,2.253333,3.366667,3.440000,3
3787,2019-12-01,Leicester,Southampton,1.0,2.0,1.934444,3.506667,4.354444,3
3788,2019-12-01,West Ham,Arsenal,1.0,0.0,3.482222,3.850000,2.063333,1
3789,2019-12-04,Leicester,Newcastle,0.0,1.0,1.657778,3.916667,5.842222,3
3790,2019-12-05,Brighton,Man City,1.0,4.0,17.804444,8.215556,1.164444,3
3791,2019-12-05,Burnley,Arsenal,1.0,3.0,3.087778,3.770000,2.272222,3
3792,2019-12-05,Crystal Palace,Bournemouth,5.0,3.0,1.858889,4.098889,3.958889,1
3793,2019-12-05,Fulham,Newcastle,0.0,4.0,2.517778,3.555556,2.818889,3
3794,2019-12-05,Leicester,Chelsea,0.0,0.0,2.398889,3.638889,2.920000,2
3795,2019-12-05,Liverpool,Wolves,2.0,0.0,1.306667,5.742222,10.443333,1
3796,2019-12-05,Man United,Cardiff,0.0,2.0,1.280000,6.324444,10.357778,3
3797,2019-12-05,Southampton,Huddersfield,1.0,1.0,1.417778,4.888889,7.983333,2
3798,2019-12-05,Tottenham,Everton,2.0,2.0,2.094444,3.567778,3.663333,2
3799,2019-12-05,Watford,West Ham,1.0,4.0,2.202222,3.776667,3.188889,3

In [15]:
bet.to_csv('bet.csv',index=False)

In [16]:
teams = bet.Hteam
teams = np.unique(teams)
teams

array(['Arsenal', 'Aston Villa', 'Birmingham', 'Blackburn', 'Blackpool',
       'Bolton', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
       'Hull', 'Leicester', 'Liverpool', 'Man City', 'Man United',
       'Middlesbrough', 'Newcastle', 'Norwich', 'Portsmouth', 'QPR',
       'Reading', 'Southampton', 'Stoke', 'Sunderland', 'Swansea',
       'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wigan', 'Wolves'],
      dtype=object)

In [17]:
%%time
all_teams=pd.DataFrame()
for team in teams:
    #team = 'Tottenham'
    q = 'Ateam == @team or Hteam == @team'
    temp = bet.query(q).fillna(0)

    # goal score by the team
    temp[team]=np.nan

    #bet.query(q).fillna(0).head(10)
    for idx, r in temp.iterrows():
        if r.Hteam == team:
            temp.loc[idx,team]=r.FTHG
        else:
            temp.loc[idx,team]=r.FTAG


    temp['L3GG'] = temp[team].rolling(3).sum().shift()

    # goal against the team
    temp[team]=np.nan
    #bet.query(q).fillna(0).head(10)
    for idx, r in temp.iterrows():
        if r.Hteam == team:
            temp.loc[idx,team]=r.FTAG
        else:
            temp.loc[idx,team]=r.FTHG
    temp['L3GX'] = temp[team].rolling(3).sum().shift()

    # add a colum with the points per game
    temp['Points']=np.nan
    for idx, r in temp.iterrows():
        if r.Hteam == team and r.Target == 1:
            temp.loc[idx,'Points']=3
        elif r.Hteam == team and r.Target == 3:
            temp.loc[idx,'Points']=0
        elif r.Target == 2:
            temp.loc[idx,'Points']=1
        elif r.Ateam == team and r.Target == 3:
            temp.loc[idx,'Points']=3
        else:
            temp.loc[idx,'Points']=0

    temp['L3PT'] = temp.Points.rolling(3).sum().shift()
    temp=temp.fillna(((temp.mean())))
    temp=temp[['Date','L3GG','L3GX','L3PT']]
    temp['Team']=team
    all_teams = pd.concat([all_teams,temp])
    #temp

CPU times: user 17 s, sys: 371 ms, total: 17.3 s
Wall time: 17.1 s

In [18]:
all_teams.shape

(7600, 5)

In [19]:
all_teams.sample(6)

           Date  L3GG  L3GX  L3PT            Team
2430 2015-12-12   6.0   8.0   2.0     Bournemouth
1906 2014-08-11   3.0   2.0   4.0  Crystal Palace
1771 2014-02-12   4.0   4.0   4.0         Swansea
1908 2014-08-11   3.0   3.0   4.0     Southampton
498  2010-10-31   3.0   4.0   4.0       Liverpool
1173 2012-08-26   6.0   3.0   6.0        Man City

In [20]:
bet.shape

(3800, 9)

In [21]:
bet.to_csv('bet.csv', index=False)

In [27]:
all_teams.columns = ['Date_H','H_L3GG','H_L3GX','H_L3PT','Team_H']
bet=bet.merge(all_teams, how='left', left_on=['Hteam','Date'], right_on=['Team_H','Date_H'])

all_teams.columns = ['Date_A','A_L3GG','A_L3GX','A_L3PT','Team_A']
bet=bet.merge(all_teams, how='left', left_on=['Ateam','Date'], right_on=['Team_A','Date_A'])

bet

,Date,Hteam,Ateam,FTHG,FTAG,Odd-1,Odd-N,Odd-2,Target,Date_H_x,...,Date_H_y,H_L3GG_y,H_L3GX_y,H_L3PT_y,Team_H_y,Date_A_y,A_L3GG_y,A_L3GX_y,A_L3PT_y,Team_A_y
0,2009-08-15,Aston Villa,Wigan,0.0,2.0,1.673333,3.490000,5.252500,3,2009-08-15,...,2009-08-15,3.174905,4.688213,3.190114,Aston Villa,2009-08-15,3.268456,5.436242,3.100671,Wigan
1,2009-08-15,Blackburn,Man City,0.0,2.0,3.354167,3.228333,2.143333,3,2009-08-15,...,2009-08-15,3.504505,5.027027,3.243243,Blackburn,2009-08-15,6.511936,2.742706,6.389920,Man City
2,2009-08-15,Bolton,Sunderland,0.0,1.0,2.238333,3.217500,3.154167,3,2009-08-15,...,2009-08-15,3.720721,5.288288,3.216216,Bolton,2009-08-15,3.252492,4.475083,3.099668,Sunderland
3,2009-08-15,Chelsea,Hull,2.0,1.0,1.180833,6.143333,16.960833,1,2009-08-15,...,2009-08-15,5.737401,2.944297,5.917772,Chelsea,2009-08-15,2.791946,5.087248,2.677852,Hull
4,2009-08-15,Everton,Arsenal,1.0,6.0,3.095000,3.204167,2.279167,3,2009-08-15,...,2009-08-15,4.297082,3.639257,4.480106,Everton,2009-08-15,5.729443,3.392573,5.665782,Arsenal
5,2009-08-15,Portsmouth,Fulham,0.0,1.0,2.554167,3.202500,2.708333,3,2009-08-15,...,2009-08-15,2.685714,5.371429,2.200000,Portsmouth,2009-08-15,3.444444,4.786667,3.280000,Fulham
6,2009-08-15,Stoke,Burnley,2.0,0.0,1.916667,3.275833,4.015833,1,2009-08-15,...,2009-08-15,3.165192,4.117994,3.622419,Stoke,2009-08-15,2.994652,4.663102,3.112299,Burnley
7,2009-08-15,Wolves,West Ham,0.0,2.0,2.556667,3.228333,2.672500,3,2009-08-15,...,2009-08-15,3.295302,4.946309,3.181208,Wolves,2009-08-15,3.758112,4.625369,3.495575,West Ham
8,2009-08-16,Man United,Birmingham,1.0,0.0,1.195000,5.810833,15.749167,1,2009-08-16,...,2009-08-16,5.564987,2.891247,6.015915,Man United,2009-08-16,2.986301,4.246575,3.452055,Birmingham
9,2009-08-16,Tottenham,Liverpool,2.0,1.0,3.124167,3.218333,2.235000,1,2009-08-16,...,2009-08-16,5.217507,3.259947,5.602122,Tottenham,2009-08-16,5.562334,3.262599,5.419098,Liverpool
10,2009-08-18,Sunderland,Chelsea,1.0,3.0,6.835833,3.774167,1.521667,3,2009-08-18,...,2009-08-18,3.252492,4.475083,3.099668,Sunderland,2009-08-18,5.737401,2.944297,5.917772,Chelsea
11,2009-08-18,Wigan,Wolves,0.0,1.0,1.719167,3.498333,5.046667,3,2009-08-18,...,2009-08-18,3.268456,5.436242,3.100671,Wigan,2009-08-18,3.295302,4.946309,3.181208,Wolves
12,2009-08-19,Birmingham,Portsmouth,1.0,0.0,2.036667,3.287500,3.650000,1,2009-08-19,...,2009-08-19,2.986301,4.246575,3.452055,Birmingham,2009-08-19,2.685714,5.371429,2.200000,Portsmouth
13,2009-08-19,Burnley,Man United,1.0,0.0,10.024167,4.762500,1.319167,1,2009-08-19,...,2009-08-19,2.994652,4.663102,3.112299,Burnley,2009-08-19,5.564987,2.891247,6.015915,Man United
14,2009-08-19,Hull,Tottenham,1.0,5.0,3.757500,3.327500,1.984167,3,2009-08-19,...,2009-08-19,2.791946,5.087248,2.677852,Hull,2009-08-19,5.217507,3.259947,5.602122,Tottenham
15,2009-08-19,Liverpool,Stoke,4.0,0.0,1.252500,5.254167,12.761667,1,2009-08-19,...,2009-08-19,5.562334,3.262599,5.419098,Liverpool,2009-08-19,3.165192,4.117994,3.622419,Stoke
16,2009-08-22,Arsenal,Portsmouth,4.0,1.0,1.180000,6.388333,16.373333,1,2009-08-22,...,2009-08-22,5.729443,3.392573,5.665782,Arsenal,2009-08-22,2.685714,5.371429,2.200000,Portsmouth
17,2009-08-22,Birmingham,Stoke,0.0,0.0,2.245000,3.227500,3.233333,2,2009-08-22,...,2009-08-22,2.986301,4.246575,3.452055,Birmingham,2009-08-22,3.165192,4.117994,3.622419,Stoke
18,2009-08-22,Hull,Bolton,1.0,0.0,2.460000,3.230833,2.858333,1,2009-08-22,...,2009-08-22,2.791946,5.087248,2.677852,Hull,2009-08-22,3.720721,5.288288,3.216216,Bolton
19,2009-08-22,Man City,Wolves,1.0,0.0,1.325833,4.700833,10.201667,1,2009-08-22,...,2009-08-22,6.511936,2.742706,6.389920,Man City,2009-08-22,3.295302,4.946309,3.181208,Wolves
20,2009-08-22,Sunderland,Blackburn,2.0,1.0,2.060833,3.276667,3.600833,1,2009-08-22,...,2009-08-22,3.252492,4.475083,3.099668,Sunderland,2009-08-22,3.504505,5.027027,3.243243,Blackburn
21,2009-08-22,Wigan,Man United,0.0,5.0,6.535833,3.846667,1.530833,3,2009-08-22,...,2009-08-22,3.268456,5.436242,3.100671,Wigan,2009-08-22,5.564987,2.891247,6.015915,Man United
22,2009-08-23,Burnley,Everton,1.0,0.0,3.226667,3.251667,2.222500,1,2009-08-23,...,2009-08-23,2.994652,4.663102,3.112299,Burnley,2009-08-23,4.297082,3.639257,4.480106,Everton
23,2009-08-23,Fulham,Chelsea,0.0,2.0,6.476667,3.689167,1.555000,3,2009-08-23,...,2009-08-23,3.444444,4.786667,3.280000,Fulham,2009-08-23,5.737401,2.944297,5.917772,Chelsea
24,2009-08-23,West Ham,Tottenham,1.0,2.0,3.041667,3.271667,2.320833,3,2009-08-23,...,2009-08-23,3.758112,4.625369,3.495575,West Ham,2009-08-23,5.217507,3.259947,5.602122,Tottenham
25,2009-08-24,Liverpool,Aston Villa,1.0,3.0,1.426667,4.155833,7.893333,3,2009-08-24,...,2009-08-24,5.562334,3.262599,5.419098,Liverpool,2009-08-24,3.174905,4.688213,3.190114,Aston Villa
26,2009-08-29,Blackburn,West Ham,0.0,0.0,2.181667,3.231667,3.294167,2,2009-08-29,...,2009-08-29,3.504505,5.027027,3.243243,Blackburn,2009-08-29,3.758112,4.625369,3.495575,West Ham
27,2009-08-29,Bolton,Liverpool,2.0,3.0,6.074167,3.790833,1.551667,3,2009-08-29,...,2009-08-29,3.720721,5.288288,3.216216,Bolton,2009-08-29,6.000000,5.000000,3.000000,Liverpool
28,2009-08-29,Chelsea,Burnley,3.0,0.0,1.139167,7.215000,17.739167,1,2009-08-29,...,2009-08-29,7.000000,2.000000,9.000000,Chelsea,2009-08-29,2.000000,2.000000,6.000000,Burnley
29,2009-08-29,Man United,Arsenal,2.0,1.0,2.113333,3.240833,3.441667,1,2009-08-29,...,2009-08-29,6.000000,1.000000,6.000000,Man United,2009-08-29,5.729443,3.392573,5.665782,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3869,2019-09-03,Crystal Palace,Brighton,1.0,2.0,1.852222,3.485556,4.874444,3,2019-09-03,...,2019-09-03,2.000000,1.000000,5.000000,Crystal Palace,2019-09-03,3.000000,5.000000,2.000000,Brighton
3870,2019-09-03,Huddersfield,Bournemouth,0.0,2.0,3.425556,3.255556,2.320000,3,2019-09-03,...,2019-09-03,3.000000,7.000000,1.000000,Huddersfield,2019-09-03,4.000000,9.000000,1.000000,Bournemouth
3871,2019-09-03,Leicester,Fulham,3.0,1.0,1.597778,4.313333,5.767778,1,2019-09-03,...,2019-09-03,7.000000,2.000000,6.000000,Leicester,2019-09-03,2.000000,3.000000,6.000000,Fulham
3872,2019-09-03,Man City,Watford,3.0,1.0,1.143333,9.025556,19.707778,1,2019-09-03,...,2019-09-03,4.000000,0.000000,9.000000,Man City,2019-09-03,2.000000,5.000000,3.000000,Watford
3873,2019-09-03,Newcastle,Everton,3.0,2.0,2.797778,3.153333,2.804444,1,2019-09-03,...,2019-09-03,4.000000,3.000000,4.000000,Newcastle,2019-09-03,1.000000,3.000000,3.000000,Everton
3874,2019-09-03,Southampton,Tottenham,2.0,1.0,4.366667,3.771111,1.866667,1,2019-09-03,...,2019-09-03,5.000000,8.000000,1.000000,Southampton,2019-09-03,1.000000,2.000000,3.000000,Tottenham
3875,2019-10-02,Man City,Chelsea,6.0,0.0,1.522222,4.481111,6.628889,1,2019-10-02,...,2019-10-02,6.000000,1.000000,9.000000,Man City,2019-10-02,6.000000,1.000000,7.000000,Chelsea
3876,2019-10-02,Tottenham,Leicester,3.0,1.0,1.704444,3.847778,5.443333,1,2019-10-02,...,2019-10-02,2.000000,3.000000,3.000000,Tottenham,2019-10-02,7.000000,3.000000,6.000000,Leicester
3877,2019-10-03,Arsenal,Man United,2.0,0.0,2.406667,3.556667,2.982222,1,2019-10-03,...,2019-10-03,3.000000,3.000000,4.000000,Arsenal,2019-10-03,5.000000,2.000000,5.000000,Man United
3878,2019-10-03,Chelsea,Wolves,1.0,1.0,1.562222,4.106667,6.877778,2,2019-10-03,...,2019-10-03,5.000000,6.000000,6.000000,Chelsea,2019-10-03,5.000000,2.000000,7.000000,Wolves
3879,2019-10-03,Liverpool,Burnley,4.0,2.0,1.171111,7.905556,18.687778,1,2019-10-03,...,2019-10-03,11.000000,1.000000,9.000000,Liverpool,2019-10-03,6.000000,3.000000,6.000000,Burnley
3880,2019-11-02,Wolves,Newcastle,1.0,1.0,1.710000,3.692222,5.691111,2,2019-11-02,...,2019-11-02,6.000000,3.000000,7.000000,Wolves,2019-11-02,4.000000,4.000000,4.000000,Newcastle
3881,2019-12-01,Brighton,Liverpool,0.0,1.0,10.047778,5.550000,1.325556,3,2019-12-01,...,2019-12-01,4.000000,5.000000,4.000000,Brighton,2019-12-01,10.000000,3.000000,9.000000,Liverpool
3882,2019-12-01,Burnley,Fulham,2.0,1.0,2.392222,3.264444,3.258889,1,2019-12-01,...,2019-12-01,8.000000,6.000000,6.000000,Burnley,2019-12-01,2.000000,6.000000,3.000000,Fulham
3883,2019-12-01,Cardiff,Huddersfield,0.0,0.0,2.237778,3.174444,3.685556,2,2019-12-01,...,2019-12-01,4.000000,2.000000,6.000000,Cardiff,2019-12-01,2.000000,8.000000,0.000000,Huddersfield
3884,2019-12-01,Chelsea,Newcastle,2.0,1.0,1.224444,6.630000,15.155556,1,2019-12-01,...,2019-12-01,3.000000,7.000000,4.000000,Chelsea,2019-12-01,4.000000,4.000000,4.000000,Newcastle
3885,2019-12-01,Crystal Palace,Watford,1.0,2.0,2.253333,3.366667,3.440000,3,2019-12-01,...,2019-12-01,3.000000,3.000000,4.000000,Crystal Palace,2019-12-01,2.000000,6.000000,3.000000,Watford
3886,2019-12-01,Leicester,Southampton,1.0,2.0,1.934444,3.506667,4.354444,3,2019-12-01,...,2019-12-01,4.000000,5.000000,3.000000,Leicester,2019-12-01,4.000000,6.000000,3.000000,Southampton
3887,2019-12-01,West Ham,Arsenal,1.0,0.0,3.482222,3.850000,2.063333,1,2019-12-01,...,2019-12-01,1.000000,5.000000,1.000000,West Ham,2019-12-01,4.000000,2.000000,6.000000,Arsenal
3888,2019-12-04,Leicester,Newcastle,0.0,1.0,1.657778,3.916667,5.842222,3,2019-12-04,...,2019-12-04,5.000000,6.000000,3.000000,Leicester,2019-12-04,5.000000,5.000000,4.000000,Newcastle
3889,2019-12-05,Brighton,Man City,1.0,4.0,17.804444,8.215556,1.164444,3,2019-12-05,...,2019-12-05,3.000000,5.000000,3.000000,Brighton,2019-12-05,10.000000,1.000000,9.000000,Man City
3890,2019-12-05,Burnley,Arsenal,1.0,3.0,3.087778,3.770000,2.272222,3,2019-12-05,...,2019-12-05,7.000000,6.000000,6.000000,Burnley,2019-12-05,4.000000,2.000000,6.000000,Arsenal
3891,2019-12-05,Crystal Palace,Bournemouth,5.0,3.0,1.858889,4.098889,3.958889,1,2019-12-05,...,2019-12-05,3.000000,5.000000,1.000000,Crystal Palace,2019-12-05,3.000000,6.000000,3.000000,Bournemouth
3892,2019-12-05,Fulham,Newcastle,0.0,4.0,2.517778,3.555556,2.818889,3,2019-12-05,...,2019-12-05,2.000000,8.000000,0.000000,Fulham,2019-12-05,3.000000,3.000000,4.000000,Newcastle
3893,2019-12-05,Leicester,Chelsea,0.0,0.0,2.398889,3.638889,2.920000,2,2019-12-05,...,2019-12-05,2.000000,6.000000,0.000000,Leicester,2019-12-05,3.000000,8.000000,4.000000,Chelsea
3894,2019-12-05,Liverpool,Wolves,2.0,0.0,1.306667,5.742222,10.443333,1,2019-12-05,...,2019-12-05,8.000000,2.000000,9.000000,Liverpool,2019-12-05,4.000000,3.000000,5.000000,Wolves
3895,2019-12-05,Man United,Cardiff,0.0,2.0,1.280000,6.324444,10.357778,3,2019-12-05,...,2019-12-05,4.000000,3.000000,4.000000,Man United,2019-12-05,4.000000,1.000000,7.000000,Cardiff
3896,2019-12-05,Southampton,Huddersfield,1.0,1.0,1.417778,4.888889,7.983333,2,2019-12-05,...,2019-12-05,5.000000,4.000000,6.000000,Southampton,2019-12-05,1.000000,4.000000,1.000000,Huddersfield
3897,2019-12-05,Tottenham,Everton,2.0,2.0,2.094444,3.567778,3.663333,2,2019-12-05,...,2019-12-05,4.000000,4.000000,3.000000,Tottenham,2019-12-05,3.000000,4.000000,3.000000,Everton
3898,2019-12-05,Watford,West Ham,1.0,4.0,2.202222,3.776667,3.188889,3,2019-12-05,...,2019-12-05,4.000000,4.000000,6.000000,Watford,2019-12-05,2.000000,3.000000,4.000000,West Ham

In [28]:
bet.columns

Index(['Date', 'Hteam', 'Ateam', 'FTHG', 'FTAG', 'Odd-1', 'Odd-N', 'Odd-2',
       'Target', 'Date_H_x', 'H_L3GG_x', 'H_L3GX_x', 'H_L3PT_x', 'Team_H_x',
       'Date_A_x', 'A_L3GG_x', 'A_L3GX_x', 'A_L3PT_x', 'Team_A_x', 'Date_H_y',
       'H_L3GG_y', 'H_L3GX_y', 'H_L3PT_y', 'Team_H_y', 'Date_A_y', 'A_L3GG_y',
       'A_L3GX_y', 'A_L3PT_y', 'Team_A_y'],
      dtype='object')

In [29]:
bet = bet[['Date', 'Hteam', 'Ateam',
           'Odd-1', 'Odd-N', 'Odd-2',
           'H_L3GG_x', 'H_L3GX_x', 'H_L3PT_x',
           'A_L3GG_x', 'A_L3GX_x', 'A_L3PT_x',
       'Target']]

In [30]:
bet

,Date,Hteam,Ateam,Odd-1,Odd-N,Odd-2,H_L3GG_x,H_L3GX_x,H_L3PT_x,A_L3GG_x,A_L3GX_x,A_L3PT_x,Target
0,2009-08-15,Aston Villa,Wigan,1.673333,3.490000,5.252500,3.174905,4.688213,3.190114,3.174905,4.688213,3.190114,3
1,2009-08-15,Blackburn,Man City,3.354167,3.228333,2.143333,3.504505,5.027027,3.243243,3.504505,5.027027,3.243243,3
2,2009-08-15,Bolton,Sunderland,2.238333,3.217500,3.154167,3.720721,5.288288,3.216216,3.720721,5.288288,3.216216,3
3,2009-08-15,Chelsea,Hull,1.180833,6.143333,16.960833,5.737401,2.944297,5.917772,5.737401,2.944297,5.917772,1
4,2009-08-15,Everton,Arsenal,3.095000,3.204167,2.279167,4.297082,3.639257,4.480106,4.297082,3.639257,4.480106,3
5,2009-08-15,Portsmouth,Fulham,2.554167,3.202500,2.708333,2.685714,5.371429,2.200000,2.685714,5.371429,2.200000,3
6,2009-08-15,Stoke,Burnley,1.916667,3.275833,4.015833,3.165192,4.117994,3.622419,3.165192,4.117994,3.622419,1
7,2009-08-15,Wolves,West Ham,2.556667,3.228333,2.672500,3.295302,4.946309,3.181208,3.295302,4.946309,3.181208,3
8,2009-08-16,Man United,Birmingham,1.195000,5.810833,15.749167,5.564987,2.891247,6.015915,5.564987,2.891247,6.015915,1
9,2009-08-16,Tottenham,Liverpool,3.124167,3.218333,2.235000,5.217507,3.259947,5.602122,5.217507,3.259947,5.602122,1
10,2009-08-18,Sunderland,Chelsea,6.835833,3.774167,1.521667,3.252492,4.475083,3.099668,3.252492,4.475083,3.099668,3
11,2009-08-18,Wigan,Wolves,1.719167,3.498333,5.046667,3.268456,5.436242,3.100671,3.268456,5.436242,3.100671,3
12,2009-08-19,Birmingham,Portsmouth,2.036667,3.287500,3.650000,2.986301,4.246575,3.452055,2.986301,4.246575,3.452055,1
13,2009-08-19,Burnley,Man United,10.024167,4.762500,1.319167,2.994652,4.663102,3.112299,2.994652,4.663102,3.112299,1
14,2009-08-19,Hull,Tottenham,3.757500,3.327500,1.984167,2.791946,5.087248,2.677852,2.791946,5.087248,2.677852,3
15,2009-08-19,Liverpool,Stoke,1.252500,5.254167,12.761667,5.562334,3.262599,5.419098,5.562334,3.262599,5.419098,1
16,2009-08-22,Arsenal,Portsmouth,1.180000,6.388333,16.373333,5.729443,3.392573,5.665782,5.729443,3.392573,5.665782,1
17,2009-08-22,Birmingham,Stoke,2.245000,3.227500,3.233333,2.986301,4.246575,3.452055,2.986301,4.246575,3.452055,2
18,2009-08-22,Hull,Bolton,2.460000,3.230833,2.858333,2.791946,5.087248,2.677852,2.791946,5.087248,2.677852,1
19,2009-08-22,Man City,Wolves,1.325833,4.700833,10.201667,6.511936,2.742706,6.389920,6.511936,2.742706,6.389920,1
20,2009-08-22,Sunderland,Blackburn,2.060833,3.276667,3.600833,3.252492,4.475083,3.099668,3.252492,4.475083,3.099668,1
21,2009-08-22,Wigan,Man United,6.535833,3.846667,1.530833,3.268456,5.436242,3.100671,3.268456,5.436242,3.100671,3
22,2009-08-23,Burnley,Everton,3.226667,3.251667,2.222500,2.994652,4.663102,3.112299,2.994652,4.663102,3.112299,1
23,2009-08-23,Fulham,Chelsea,6.476667,3.689167,1.555000,3.444444,4.786667,3.280000,3.444444,4.786667,3.280000,3
24,2009-08-23,West Ham,Tottenham,3.041667,3.271667,2.320833,3.758112,4.625369,3.495575,3.758112,4.625369,3.495575,3
25,2009-08-24,Liverpool,Aston Villa,1.426667,4.155833,7.893333,5.562334,3.262599,5.419098,5.562334,3.262599,5.419098,3
26,2009-08-29,Blackburn,West Ham,2.181667,3.231667,3.294167,3.504505,5.027027,3.243243,3.504505,5.027027,3.243243,2
27,2009-08-29,Bolton,Liverpool,6.074167,3.790833,1.551667,3.720721,5.288288,3.216216,3.720721,5.288288,3.216216,3
28,2009-08-29,Chelsea,Burnley,1.139167,7.215000,17.739167,7.000000,2.000000,9.000000,7.000000,2.000000,9.000000,1
29,2009-08-29,Man United,Arsenal,2.113333,3.240833,3.441667,6.000000,1.000000,6.000000,6.000000,1.000000,6.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3869,2019-09-03,Crystal Palace,Brighton,1.852222,3.485556,4.874444,2.000000,1.000000,5.000000,2.000000,1.000000,5.000000,3
3870,2019-09-03,Huddersfield,Bournemouth,3.425556,3.255556,2.320000,3.000000,7.000000,1.000000,3.000000,7.000000,1.000000,3
3871,2019-09-03,Leicester,Fulham,1.597778,4.313333,5.767778,7.000000,2.000000,6.000000,7.000000,2.000000,6.000000,1
3872,2019-09-03,Man City,Watford,1.143333,9.025556,19.707778,4.000000,0.000000,9.000000,4.000000,0.000000,9.000000,1
3873,2019-09-03,Newcastle,Everton,2.797778,3.153333,2.804444,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,1
3874,2019-09-03,Southampton,Tottenham,4.366667,3.771111,1.866667,5.000000,8.000000,1.000000,5.000000,8.000000,1.000000,1
3875,2019-10-02,Man City,Chelsea,1.522222,4.481111,6.628889,6.000000,1.000000,9.000000,6.000000,1.000000,9.000000,1
3876,2019-10-02,Tottenham,Leicester,1.704444,3.847778,5.443333,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,1
3877,2019-10-03,Arsenal,Man United,2.406667,3.556667,2.982222,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,1
3878,2019-10-03,Chelsea,Wolves,1.562222,4.106667,6.877778,5.000000,6.000000,6.000000,5.000000,6.000000,6.000000,2
3879,2019-10-03,Liverpool,Burnley,1.171111,7.905556,18.687778,11.000000,1.000000,9.000000,11.000000,1.000000,9.000000,1
3880,2019-11-02,Wolves,Newcastle,1.710000,3.692222,5.691111,6.000000,3.000000,7.000000,6.000000,3.000000,7.000000,2
3881,2019-12-01,Brighton,Liverpool,10.047778,5.550000,1.325556,4.000000,5.000000,4.000000,4.000000,5.000000,4.000000,3
3882,2019-12-01,Burnley,Fulham,2.392222,3.264444,3.258889,8.000000,6.000000,6.000000,8.000000,6.000000,6.000000,1
3883,2019-12-01,Cardiff,Huddersfield,2.237778,3.174444,3.685556,4.000000,2.000000,6.000000,4.000000,2.000000,6.000000,2
3884,2019-12-01,Chelsea,Newcastle,1.224444,6.630000,15.155556,3.000000,7.000000,4.000000,3.000000,7.000000,4.000000,1
3885,2019-12-01,Crystal Palace,Watford,2.253333,3.366667,3.440000,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,3
3886,2019-12-01,Leicester,Southampton,1.934444,3.506667,4.354444,4.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3
3887,2019-12-01,West Ham,Arsenal,3.482222,3.850000,2.063333,1.000000,5.000000,1.000000,1.000000,5.000000,1.000000,1
3888,2019-12-04,Leicester,Newcastle,1.657778,3.916667,5.842222,5.000000,6.000000,3.000000,5.000000,6.000000,3.000000,3
3889,2019-12-05,Brighton,Man City,17.804444,8.215556,1.164444,3.000000,5.000000,3.000000,3.000000,5.000000,3.000000,3
3890,2019-12-05,Burnley,Arsenal,3.087778,3.770000,2.272222,7.000000,6.000000,6.000000,7.000000,6.000000,6.000000,3
3891,2019-12-05,Crystal Palace,Bournemouth,1.858889,4.098889,3.958889,3.000000,5.000000,1.000000,3.000000,5.000000,1.000000,1
3892,2019-12-05,Fulham,Newcastle,2.517778,3.555556,2.818889,2.000000,8.000000,0.000000,2.000000,8.000000,0.000000,3
3893,2019-12-05,Leicester,Chelsea,2.398889,3.638889,2.920000,2.000000,6.000000,0.000000,2.000000,6.000000,0.000000,2
3894,2019-12-05,Liverpool,Wolves,1.306667,5.742222,10.443333,8.000000,2.000000,9.000000,8.000000,2.000000,9.000000,1
3895,2019-12-05,Man United,Cardiff,1.280000,6.324444,10.357778,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3
3896,2019-12-05,Southampton,Huddersfield,1.417778,4.888889,7.983333,5.000000,4.000000,6.000000,5.000000,4.000000,6.000000,2
3897,2019-12-05,Tottenham,Everton,2.094444,3.567778,3.663333,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,2
3898,2019-12-05,Watford,West Ham,2.202222,3.776667,3.188889,4.000000,4.000000,6.000000,4.000000,4.000000,6.000000,3

In [31]:
bet.to_csv('bet.csv',index=False)