In [79]:
from sklearn.datasets import make_classification
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

from sklearn.preprocessing import OrdinalEncoder

from sklearn.utils import shuffle
import numpy as np
import pyforest

In [80]:
data = pd.read_csv('bet.csv')
data.shape

(3899, 13)

In [81]:
data.head(5)

,Date,Hteam,Ateam,Odd-1,Odd-N,Odd-2,H_L3GG_x,H_L3GX_x,H_L3PT_x,A_L3GG_x,A_L3GX_x,A_L3PT_x,Target
0,2009-08-15,Aston Villa,Wigan,1.673333,3.490000,5.252500,3.174905,4.688213,3.190114,3.174905,4.688213,3.190114,3
1,2009-08-15,Blackburn,Man City,3.354167,3.228333,2.143333,3.504505,5.027027,3.243243,3.504505,5.027027,3.243243,3
2,2009-08-15,Bolton,Sunderland,2.238333,3.217500,3.154167,3.720721,5.288288,3.216216,3.720721,5.288288,3.216216,3
3,2009-08-15,Chelsea,Hull,1.180833,6.143333,16.960833,5.737401,2.944297,5.917772,5.737401,2.944297,5.917772,1
4,2009-08-15,Everton,Arsenal,3.095000,3.204167,2.279167,4.297082,3.639257,4.480106,4.297082,3.639257,4.480106,3

In [82]:
X = data.drop('Target', axis=1)
y1 = data.Target
print(f"Dataset Size = {data.shape}")

Dataset Size = (3899, 13)

In [83]:
# split the dataset
from datetime import date
oe = OrdinalEncoder()
oe.fit(X[['Hteam','Ateam']])
teams = oe.transform(X[['Hteam','Ateam']])
X[['Hteam','Ateam']]=teams

X['Date']=pd.to_datetime(X['Date'])



def calculate_age(born):
    #born = datetime.strptime(born, "%d.%m.%Y").date()
    today = date.today()
    #return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    return born.month

X['Age'] = X['Date'].apply(calculate_age)
X = X.drop('Date', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.33, random_state=42)

In [84]:
X_train.head()

,Hteam,Ateam,Odd-1,Odd-N,Odd-2,H_L3GG_x,H_L3GX_x,H_L3PT_x,A_L3GG_x,A_L3GX_x,A_L3PT_x,Age
944,18.0,1.0,1.344417,4.775833,9.286667,6.000000,0.000000,9.000000,6.000000,0.000000,9.000000,10
199,4.0,32.0,2.749167,3.265833,2.547500,4.314286,6.371429,2.828571,4.314286,6.371429,2.828571,1
1621,34.0,29.0,1.799231,3.641538,4.628462,4.000000,7.000000,2.000000,4.000000,7.000000,2.000000,7
1532,26.0,10.0,3.493077,3.463846,2.136154,6.000000,6.000000,4.000000,6.000000,6.000000,4.000000,3
801,1.0,28.0,2.134167,3.305000,3.355833,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5

In [85]:
y_train.head()

944     1
199     1
1621    3
1532    1
801     3
Name: Target, dtype: int64

In [86]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)
'''
from sklearn.preprocessing import PowerTransformer
pt = PowerTransformer()
pt.fit(X_train)
X_train = pt.transform(X_train)
X_test = pt.transform(X_test)
'''

'\nfrom sklearn.preprocessing import PowerTransformer\npt = PowerTransformer()\npt.fit(X_train)\nX_train = pt.transform(X_train)\nX_test = pt.transform(X_test)\n'

In [87]:
from sklearn.multiclass import OneVsRestClassifier

y_pred = OneVsRestClassifier(DecisionTreeClassifier(random_state=0)).fit(X_train, y_train).predict(X_test)
accuracy_score(y_test, y_pred, normalize=True)

0.4063714063714064

In [76]:
print(np.unique(y_pred, return_counts=True))
print(np.unique(y_test, return_counts=True))

(array([1, 2, 3]), array([763, 152, 372]))
(array([1, 2, 3]), array([596, 324, 367]))

In [77]:
accuracy_score(y_test, y_pred, normalize=True)

0.5104895104895105